Repository xiyixiaodao/gitru: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rust-fmt.
        # Check formatting without modifying files (manual formatting required after confirmation)
        entry: cargo fmt -- --check
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: cargo clippy --  -D warnings
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: unit test for the project
        entry: cargo test --
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: typos
        name: typos
        description: check typo
        entry: typos
        language: rust
        # Must pass filenames to check only staged files
        pass_filenames: true
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies with cargo-deny
        entry: cargo deny check
        language: rust
        files: \.(toml|lock)$
        pass_filenames: false

feat: Initial standardization of YAML config format and type validation optimizations
  .commit-msg-rule.yaml
  Cargo.lock
  Cargo.toml
  config/commit-msg-rule-template.yaml
  src/validate/commit_msg_rule.rs
  src/validate/commit_msg_validate.rs
  src/validate/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: Delete the space at the end of the keyword
  Cargo.toml
Due: cargo-deny

refactor: modular processing for commit message components
  src/commit_msg/commit_msg_rule.rs
  src/commit_msg/config/body_config.rs
  src/commit_msg/config/footer_config.rs
  src/commit_msg/config/mod.rs
  src/commit_msg/config/scope_config.rs
  src/commit_msg/config/subject_config.rs
  src/commit_msg/config/type_config.rs
  src/commit_msg/mod.rs
  src/main.rs
  src/validate/commit_msg_validate.rs
  src/validate/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: scope supported
  Cargo.lock
  Cargo.toml
  README.md
  config/commit-msg-rule-template.yaml
  src/commit_msg/config/scope_config.rs
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: disable Windows-specific code under Linux
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/util/mod.rs
  src/util/windows_color_util.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

chore: add github action test
  .github/workflows/rust_cross_platform_build.yaml
Due: none

chore: ci install test
  .github/workflows/rust_cross_platform_build.yaml
Due: none

feat: subject supported
  .commit-msg-rule.yaml
  Cargo.lock
  Cargo.toml
  config/commit-msg-rule-template.yaml
  src/commit_msg/config/subject_config.rs
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

docs: fix readme
  README.md
Due: none

fix: fix environment variables detection issue for Cargo on Linux
  Cargo.lock
  Cargo.toml
  config/commit-msg-hook-template.sh
Due: cargo-deny

feat: use regex crate instead of manually matching string
  .commit-msg-rule.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  _typos.toml
  config/commit-msg-rule-template.yaml
  src/commit_msg/commit_msg_rule.rs
  src/commit_msg/config/body_config.rs
  src/commit_msg/config/footer_config.rs
  src/commit_msg/config/scope_config.rs
  src/commit_msg/config/subject_config.rs
  src/commit_msg/config/type_config.rs
  src/commit_msg/mod.rs
  src/util/tracing_util.rs
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

update github-action version
  .github/workflows/rust_cross_platform_build.yaml
Due: none

fix: resolve the clippy suggestions in the CI environment
  .commit-msg-rule.yaml
  src/commit_msg/config/scope_config.rs
  src/commit_msg/config/subject_config.rs
  src/commit_msg/config/type_config.rs
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: optimize interactive prompts
  .commit-msg-rule.yaml
  Cargo.lock
  Cargo.toml
  config/commit-msg-rule-template.yaml
  src/commit_msg/config/scope_config.rs
  src/commit_msg/config/subject_config.rs
  src/commit_msg/config/type_config.rs
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

feat: add uninstall command
  README.md
  src/cli/commit_msg_action.rs
  src/install/commit_msg_install.rs
  src/install/commit_msg_uninstall.rs
  src/install/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: optimize scope validation
  .commit-msg-rule.yaml
  Cargo.lock
  Cargo.toml
  config/commit-msg-rule-template.yaml
  src/commit_msg/config/scope_config.rs
  src/commit_msg/config/subject_config.rs
  src/commit_msg/config/type_config.rs
  src/commit_msg/mod.rs
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

chore: fix ci clippy
  src/install/commit_msg_uninstall.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

style: format yaml
  .commit-msg-rule.yaml
  README.md
  config/commit-msg-rule-template.yaml
  src/install/commit_msg_init.rs
  src/install/commit_msg_install.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

style: optimize prompt messages
  Cargo.lock
  Cargo.toml
  config/commit-msg-hook-template.sh
  src/validate/commit_msg_validate.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: update the version of dependencies; change the environment variable RUST_LOG to a custom name GITRU_LOG.
  Cargo.lock
  Cargo.toml
  src/util/tracing_util.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny
