Repository xiyixiaodao/gitru: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

cargo-fmt:
  name: cargo fmt
  description: Format files with rust-fmt.
  entry: cargo fmt -- --check
  language: rust
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check
  language: rust
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy --  -D warnings
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: cargo test --
  language: rust
  pass_filenames: false

cargo-deny:
  name: cargo deny check
  description: Check dependencies with cargo-deny
  entry: cargo deny check
  language: rust
  pass_filenames: false

fix: Fix vulnerable dependencies, enhance documentation, reduce template min_length
  .commit-msg-rule.yaml
  Cargo.lock
  Cargo.toml
  README.md
  config/commit-msg-rule-template.yaml
Due: cargo-deny

feat: show version info
  Cargo.lock
  Cargo.toml
  src/cli.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

feat: add ci keyword; enable cross-platform binary distribution
  .commit-msg-rule.toml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  cliff.toml
  template/commit-msg-rule-template.toml
Due: cargo-deny

ci: optimize git-cliff log output format
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  cliff.toml
Due: cargo-deny

feat: footer keyword typo detection
  .commit-msg-rule.toml
  Cargo.lock
  Cargo.toml
  src/config/commit_msg_rule.rs
  src/error/footer_error.rs
  src/parser/commit_msg.rs
  src/parser/footer.rs
  src/parser/mod.rs
  src/validator/commit_msg.rs
  template/commit-msg-rule-template.toml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

feat: verify the configuration file’s git status before running validation;
  .commit-msg-rule.toml
  Cargo.lock
  Cargo.toml
  README.md
  src/error/git_status.rs
  src/error/mod.rs
  src/hook/commit_msg.rs
  src/validator/git_status.rs
  src/validator/mod.rs
  template/commit-msg-rule-template.toml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: resolve clippy warnings
  src/parser/footer.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: handle null or empty commit body in git-cliff templates
  cliff.toml
Due: cargo-deny

feat: update version
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-deny

style: fix Markdown bold issue caused by line break
  README.md
Due: none

feat: detect Git repository root (supports worktrees)
  Cargo.lock
  Cargo.toml
  src/util/path.rs
  src/validator/commit_msg.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: detect Git repository root (supports worktrees)
  Cargo.lock
  Cargo.toml
  src/util/path.rs
  src/validator/commit_msg.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

chore: bump version to 0.2.6
  Cargo.lock
  Cargo.toml
Due: cargo-deny

fix: fix git status detection;
  README.md
  src/config/commit_msg_rule.rs
  src/error/header_error.rs
  src/parser/footer.rs
  src/validator/commit_msg.rs
  src/validator/git_status.rs
  template/commit-msg-rule-template.toml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

feat: add typo detection for commit types and improve user-friendly error messages
  Cargo.lock
  Cargo.toml
  src/error/header_error.rs
  src/validator/commit_msg.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

refactor: reduce usage of unwrap/expect to improve error-handling robustness
  src/config/commit_msg_rule.rs
  src/constant.rs
  src/error/commit_msg_error.rs
  src/error/footer_error.rs
  src/error/git_status_error.rs
  src/error/header_error.rs
  src/error/mod.rs
  src/hook/commit_msg.rs
  src/lib.rs
  src/parser/commit_msg.rs
  src/parser/footer.rs
  src/parser/header.rs
  src/util/colored_print.rs
  src/util/path.rs
  src/validator/commit_msg.rs
  src/validator/git_status.rs
  src/validator/mod.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

chore: bump version to 0.2.8
  Cargo.lock
  Cargo.toml
Due: cargo-deny

fix(ci): resolve Windows packaging failure by removing deprecated zip package and using built-in tools
  .github/workflows/release.yml
Due: none

feat: resolve hook and config paths for normal, worktree and submodule
  .commit-msg-rule.toml
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/config/commit_msg_rule.rs
  src/constant.rs
  src/error/commit_msg_error.rs
  src/error/git_error.rs
  src/error/mod.rs
  src/hook/commit_msg.rs
  src/hook/mod.rs
  src/main.rs
  src/util/git_path.rs
  src/util/mod.rs
  src/util/path.rs
  src/validator/git_status.rs
  template/commit-msg-hook-template.sh
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: skip git-dependent tests on CI due to inconsistent git behavior
  src/util/git_path.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

ci: install OpenSSL to fix openssl-sys build dependency issues
  .github/workflows/release.yml
Due: none

fix: use openssl to avoid missing SSL issues on multiple platforms
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: cargo-deny

refactor: manual repo detection, remove git2 and SSL-related deps
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  src/error/git_error.rs
  src/util/git_path.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

fix: remove skip keyword line when skipping validation
  .commit-msg-rule.toml
  Cargo.lock
  Cargo.toml
  src/hook/commit_msg.rs
  src/parser/mod.rs
  template/commit-msg-rule-template.toml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

refactor: simplify scope validation logic and improve error handling
  .commit-msg-rule.toml
  Cargo.lock
  Cargo.toml
  src/config/commit_msg_rule.rs
  src/error/footer_error.rs
  src/error/header_error.rs
  src/parser/commit_msg.rs
  src/util/git_path.rs
  src/validator/commit_msg.rs
  template/commit-msg-rule-template.toml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: \.(toml|lock)$
